.player-timedtext-text-container{z-index:100!important;}
.player-timedtext .player-timedtext-text-container:hover{cursor:pointer;}


body.open-tr-panel .sizing-wrapper{width:80vw!important;right:0!important; left:auto!important;}

.hoverable:hover{
    background: #116ce4;
    border-radius: 15%;
}

.translation-popup {
	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 80000;
    background: #282828;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    border-radius: 6px;
    box-shadow: 0 2px 1px 0 #000;
    line-break: auto;
    color: #9b9b9b;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
	pointer-events: all;
	right: auto;
	top: auto;
    transform: translateY(-100%);
    /* box-shadow: 0 0.2em 0.1em 0 #000; */
}

.translation-scrollbar{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-sizing: border-box;
    position: relative;
    height: 230px;
    border-bottom: 1px solid #666;
}

.close-popup {
    position: absolute;
    top: 2px;
    right: 5px;
    background-image: url(https://img.icons8.com/cotton/2x/cancel.png);
    background-size : 26px 26px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 4px; 
    opacity: .7;
    z-index: 5;
}

.translation-panel {
    padding: 0;
    line-height: 1.35em;
}

.translation-header-section{
    padding: 7px 35px 7px 10px;
    background: #00639e;
    
    
}
.translation-header{
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
    padding-left: 35px;
    position: relative;
}


.translation-header::before {
    content : '';
    background-image: url(https://static.thenounproject.com/png/5735-200.png);
    background-size : 24px 24px;
    width: 24px;
    height:24px;
    position: absolute;
    left: 0;
    top: calc(50%);
    transform: translateY(-50%);
    opacity: .5;
}

.section-full{
    padding: 10px 35px 5px 10px;
    background: #0b344c;
}

.external-dicts-row {
    text-align: center;
    /*
    padding-top: 0px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    margin: 0 -15px;
    */
    color: rgb(106, 167, 231);
    border-top: 1px solid #666;
    min-height: 32px;
}

.translation-popup::after {
    content: ' ';
    width: 0;
    height: 0;
    border: 12px solid transparent;
    position: absolute;
    border-top-color: #282828;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

